<!DOCTYPE html>
<html lang="en">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
  <div ng-app="myApp" ng-controller="formCtrl">
    <form novalidate>
      Name:<br>
      <input type="text" ng-model="user.name"><br>
      Alias:<br>
      <input type="text" ng-model="user.alias"><br>
      E-Mail:<br>
      <input type="email" ng-model="user.email"><br>
      Gender:<br>
      <label class="radio-inline">
        <input name="cssPre" id="css3" value="Male" class="active" type="radio" ng-model="user.gender">Male
      </label>
      <label class="radio-inline">
        <input name="cssPre" id="css1" value="Female" type="radio" ng-model="user.gender">Female<br>
      </label>
      <!-- <input type="text" ng-model="user.gender"><br> -->
      Interest Music:<br>
      <input type="text" ng-model="music.value"><br>
      Latitude:<br>
      <input type="number" ng-model="user.location.latitude"><br>
      Longitud:<br>
      <input type="number" ng-model="user.location.longitud"><br>
      <br><br>
      <button ng-click="addUser()">Add User</button>
    </form>
  </div>

  <script>
  var app = angular.module('myApp', []);
  app.controller('formCtrl', function($scope,$http) {
    $scope.music={'category':'music','value':undefined};
    $scope.user = {};
    $scope.user.interests = [];
    $scope.master = {};
    $scope.addUser = function() {
      if($scope.music.value !== undefined) $scope.user.interests.push($scope.music);
      $http({
        url: 'http://localhost:5000/users',
        method: "POST",
        data: { 'user' : $scope.user}
      }).then(function(response) {
        console.log(response.data);
      },
      function(response) { // optional
        // failed
      });
    };
  });
  </script>

</body>
</html>
