<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="controller.js"></script>
</head>

<body>

  <div class="container">
    <div class="col-md-8">
      <div ng-app="MagicMatch" ng-controller="Controller">
        <form>

          <br>

          <div class="button-group">
            <button type="button" class="btn btn-primary" ng-click="getUsers()">Get Users</button>
          </div>

          <br>

          <div class="table-group">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Interests</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in user">
                  <td>{{ x.user.id }}</td>
                  <td>{{ x.user.name }}</td>
                  <td>{{ x.user.interests }}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </form>
      </div>
    </div>
  </div>

</body>
</html>
