<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Angularjs -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="controller.js"></script>
</head>

<body>

  <div class="container">
    <div class="col-md-8">
      <div ng-app="MagicMatch" ng-controller="Controller">
        <form>

          <div class="form-group">
            <label for="idUser">ID User to Modify</label>
            <input type="number" class="form-control" id="exampleInputID" placeholder="ID" ng-model="ID">
            <button type="button" class="btn btn-warning" ng-click="getUser()">Get User</button>
          </div>

          <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Name" ng-model="user.name">
          </div>

          <div class="form-group">
            <label for="Alias">Alias</label>
            <input type="text" class="form-control" id="exampleInputAlias" placeholder="Alias" ng-model="user.alias">
          </div>

          <label for="Email">E-Mail</label>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon2"
            ng-model="user.email">
            <span class="input-group-addon" id="basic-addon2">@example.com</span>
          </div>

          <br>

          <label for="Name">Sex</label>
          <div class="radio-inline">
            <label class="radio-inline">
              <input name="cssPre" id="css3" value="Male" class="active" type="radio" ng-model="user.gender">Male
            </label>
            <label class="radio-inline">
              <input name="cssPre" id="css1" value="Female" type="radio" ng-model="user.gender">Female
            </label>
          </div>

          <br>

          <div class="form-group">
      			<label for="ejemplo_intereses_1">Intereses</label>
      			<p>Check your interests</p>
      			<button type="button" class="btn btn-primary" ng-click="getAllInterestsAndMine()"> Get All Interests And Mine</button>
      			<form role="form">
      				<ul>
      					<li ng-repeat="checkBox in checkBoxes">
      						<tt>{{checkBox.category}}
      							{{"- " + checkBox.value + " "}} </tt>
      							<input type="checkbox" name="checkbox" ng-model="checkBox.check">
      							<br> <!-- Salto de linea final entre cada elemento del vector de usuarios-->
      						</li>
      						<br>
      					</ul>
      				</form>
      			</div>

          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="number" class="form-control" id="exampleInputLatitude" placeholder="Latitude" ng-model="user.location.latitude">
          </div>

          <div class="form-group">
            <label for="longitud">Longitud</label>
            <input type="number" class="form-control" id="exampleInputLongitud" placeholder="Longitud" ng-model="user.location.longitud">
          </div>



          <button type="button" class="btn btn-warning" ng-click="modUser()">Modify User</button>

        </form>
      </div>
    </div>
  </div>

</body>
</html>
